.header
    &__navigation
        flex: 0 0 174px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-end

.header__body
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 133px

.header__link
    font-family: Ubuntu, sans-serif
    text-decoration: none
    font-weight: 300
    font-size: 2.4rem
    color: $color-dark-charcoal
    margin-right: 24px

